<div class="d-flex justify-content-center mt-5">
  <div class="box border p-4" style="width:35vw">
    <h3>yoyoyo!</h3>
    <p>
    as a versatile graphic designer turned front end developer, i’m able to bring functionality and creativity together in captivating user-centric web experiences, while keeping a positive and down-to-earth approach on people around me.
    </p>
  </div>
</div>
